nav {
    height: 50px;
    background-color: #000000;
    color: #fff;
    padding: 1rem;
    text-align: center;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    padding-top: 15px;
    display: inline-block;
    margin: 0 1rem;
  }
  
  nav a {
    text-decoration: none;
    color: #fff;
  }
  
  nav a:hover {
    color: #ccc;
  }
  