<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Formulaire de recherche de location vacances</title>
</head>
<body>
  <h1>Formulaire de recherche de location vacances</h1>
  <form action="resultat.php" method="post">
    <div class="bloc-champs">
      <div class="form-group">
        <label for="date_debut">Date de début de location</label>
        <input type="date" id="date_debut" name="date_debut" required>
      </div>
      <div class="form-group">
        <label for="date_fin">Date de fin de location</label>
        <input type="date" id="date_fin" name="date_fin" required>
      </div>
      <div class="form-group">
        <label for="commune">Commune</label>
        <input type="text" id="commune" name="commune">
      </div>
      <div class="form-group">
        <label for="prix_max">Prix max</label>
        <input type="number" id="prix_max" name="prix_max">
      </div>
      <div class="form-group">
        <label for="nb_chambres_min">Nombre de chambres min</label>
        <input type="number" id="nb_chambres_min" name="nb_chambres_min">
      </div>
    </div>
    <div class="bloc-champs">
      <div class="form-group">
        <label for="nb_couchages_min">Nombre de couchages min</label>
        <input type="number" id="nb_couchages_min" name="nb_couchages_min">
      </div>
      <div class="form-group">
        <label for="distance_centre_ville_max">Distance max au centre ville (en mètres)</label>
        <input type="number" id="distance_centre_ville_max" name="distance_centre_ville_max">
      </div>
      <h2>Options supplémentaires</h2>
      <div class="checkbox-container">
        <input type="checkbox" id="piscine" name="piscine">
        <label for="piscine">Piscine</label>
      </div>
      <div class="checkbox-container">
        <input type="checkbox" id="jardin" name="jardin">
        <label for="jardin">Jardin</label>
      </div>
      <div class="checkbox-container">
        <input type="checkbox" id="parking" name="parking">
        <label for="parking">Parking</label>
      </div>
      <div class="checkbox-container">
        <input type="checkbox" id="wifi" name="wifi">
        <label for="wifi">Wifi</label>
      </div>
    </div>
    <br>
    <input type="submit" value="Rechercher">
  </form>
</body>
</html>
