 <section class="logements">
  <div class="grid md:grid-cols-4 gap-4 sm:grid-cols-1">
      @for (hotel of data; track data){
      <div class="maison">
      <div class="image md:h-[15vw] h-[45vh]"><img class="object-cover h-full w-full rounded-[15px]" src="https://images.pexels.com/photos/53464/sheraton-palace-hotel-lobby-architecture-san-francisco-53464.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Maison 1"></div>
      <div class="hotel_name font-bold">{{hotel["name"]}}</div>
      <div class="person_number text-[#595959]">Pour {{hotel["nombreCouchagesMin"]}} personnes</div>
      <div class="price text-[#595959]">{{hotel["prixMax"]}}€ par nuit</div>
    </div>
      }
  </div>
  </section>
  <style>
  .image{

    padding-bottom: 2%;

  }
  .logements {
    margin: 20px;
    padding: 20px;
  }

  .maison {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
  }

  .maison h3 {
    margin-top: 10px;
  }

  .maison p {
    margin-bottom: 10px;
  }

  .maison button {
    padding: 10px 20px;
    background-color: #000;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  </style>
